.DS_Store
A4_NHM-WA-EL-GF-DR-L-004.1 Eastern Lawn and civic square.pdf
A4_NHM-WA-WL-GF-DR-L-004.1 Western lawn ad western grounds.pdf
EcologicalAssessment.pdf
Figures.pptx
Grounds_calculations.xlsx
MetaAnalysisFlowchart.pptx
NHM-WA-EL-GF-DR-L-004.1 Eastern Lawn and civic square.pdf
NHM-WA-WL-GF-DR-L-004.1 Western lawn ad western grounds.pdf
PREDICTSData/Data
Papers/
SAR.png
SearchTerms.docx
SpeciesTimeRelationship.png
UKCover.xlsx
MetaAnalysis/Data
MetaAnalysis/OriginalSearchResults
MetaAnalysis/SearchResults
MetaAnalysis/Scripts/02_main (Autosaved).R
